.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.85);
  font-size: 32px;
  z-index: 999;

  strong {
    margin-bottom: 8px;
  }

  span {
    font-size: 24px;
  }

  svg {
    width: 72px;
    height: 72px;
    margin-bottom: 16px;
  }
}

.modal .mobile {
  font-size: 20px;
}
