.paid-out {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  svg {
    width: 60px;
    height: 60px;
    color: green;
  }

  strong {
    font-size: 16px;
    margin: 8px 0px;
  }
}

.paid-out-new-payment {
  a {
    font-weight: 700;
    color: #287559;
    text-decoration: none;
  }

  a:hover {
    color: #59bf99;
    opacity: 0.7;
  }
}

.container-payment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
