.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#PaymentForm input {
  border: 1px #dbdbdb solid;
}

.creditCard-m-button {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: none;
  display: block;
  font-size: 13px;
  outline: none;
  padding: 7px;
  transition: all 0.4s;
  width: 100%;
}

.creditCard-group {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.left {
  flex: 2;
}

.right {
  flex: 1;
  margin-left: 15px;
}

.ui .loader {
  color: #fff !important;
}

.button-payment {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #59bf99;

  color: #fff;

  width: 100%;
  height: 32px;

  width: 100%;
  height: 32px;

  cursor: pointer;

  &:hover {
    background-color: #59bf99;
    opacity: 0.9;
  }
}

.button-payment-disabled {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #59bf99;
  color: #fff;
  width: 100%;
  height: 32px;

  width: 100%;
  height: 32px;
  cursor: no-drop;

  &:hover {
    background-color: #59bf99;
    opacity: 0.9;
  }
}

.message-error {
  color: red;
  margin: 16px;
}

.form-group-input {
  margin-top: 8px;
}

.request-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 64px;
}

.loading-spiner {
  margin-top: 25px;

  img {
    width: 100px;
    height: 100px;
    margin-left: -25px;
  }
}
